<app-spinner *ngIf="showSpinner"></app-spinner>

<mat-card-content *ngIf="!showSpinner">
    <div class="my-form mat-elevation-z8" style="margin-top: 30px;background-color: #fff;">
      <h3 class="title-style">Edit Course</h3>
      <form #c="ngForm" (ngSubmit)="saveData(c.value)">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="courseItem.courseName" #cou="ngModel" placeholder="Course Title" name="cou" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Link</mat-label>
          <input matInput [(ngModel)]="courseItem.courseContent" #coun="ngModel" placeholder="Course Link" name="coun" required />
        </mat-form-field>
        <mat-form-field class="full-width">
           <mat-label>Duration</mat-label>
           <input matInput [(ngModel)]="courseItem.duration" #dur="ngModel"  placeholder="Course Duration In Hours" name="dur" required />
         </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput required [(ngModel)]="courseItem.description"  #des="ngModel" name="des" placeholder="Ex. Free Course from Udemy that ..."></textarea>
        </mat-form-field>
        <br />
        <mat-card-actions>
          <button type="submit" 
          mat-raised-button color="primary"
          [disabled]="c.invalid"
          (click)="openSnackBar()">ADD</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
  