<div style=" background-color: white !important;
height: 150vh;
padding-left: 50px;
margin-left: 250px;">
  <app-admin-nav></app-admin-nav>
  <app-spinner *ngIf="!isLoaded"></app-spinner>
  <div [hidden]="!isLoaded" style="background-color: #fff; margin: 15px; width: 95%; height: auto;">
    <div class="alert alert-dark ">
      View Courses
      <button mat-raised-button color="primary" 
      style="float: right; margin-bottom: 7px;"
      routerLink="/admin/courses/details">View Courses Details</button>
    </div>
    <mat-card-content>
    <mat-form-field>
      <mat-label>Filter Courses</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <div class="mat-elevation-z8" style="overflow: hidden;">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Course Title </th>
            <td mat-cell *matCellDef="let row" > {{row.courseName}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="main" style="text-align: center;"> Description </th>
            <td mat-cell *matCellDef="let row" class="main" >
              {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> duration </th>
            <td mat-cell *matCellDef="let row"> {{row.duration}} Hours</td>
          </ng-container>

          <ng-container matColumnDef="courseLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 15px;"> Course Level </th>
            <td mat-cell *matCellDef="let row" style="padding-left: 15px;"> {{row.level}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="main">  </th>
            <td mat-cell *matCellDef="let row" class="main"> 
              <button mat-stroked-button color="primary" 
              [routerLink]="['edit/',row.courseId]"
              ><i class="fa fa-edit"></i></button>
              
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="main">  </th>
            <td mat-cell *matCellDef="let row" class="main"> 
           
              <button mat-stroked-button color="warn" 
              (click)="openModal(content,row.courseId,row.courseName)"><i class="fa fa-trash"></i></button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" fixed></mat-paginator>
    </div>
</mat-card-content>
  </div>
</div>
    


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">DELETE !!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete course?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteCourse()">Delete</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
