h2,label,h6{
    color: white;
}
.main{
    margin: 10px;
    background-color: #222222;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20p;
    -moz-border-radius: 20p;
    -ms-border-radius: 20p;
    -o-border-radius: 20p;
}
