<app-navbar></app-navbar>
<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="container py-2" *ngIf="!showSpinner">
  <div class="row my-2 d-flex justify-content-center align-items-center main m-3 p-4">
    <!-- edit form column -->
      <div class="col-lg-8 order-lg-1 personal-info ">
        <form role="form"  #f="ngForm" (ngSubmit)="saveData(f.value)">
       
     
        <div class="form-group row">
          <label class="col-lg-6 col-form-label form-control-label">Enter your password</label>
          <div class="col-lg-9">
            <input class="form-control" type="password" value="" 
            name="password" ngModel  #password="ngModel" />
          </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 col-form-label form-control-label">Enter your New password</label>
            <div class="col-lg-9">
              <input class="form-control" type="password" value="" 
              name="npassword" ngModel  #npassword="ngModel"  />
            </div>
          </div>
        <div class="form-group row ">
          <div class="col-lg-9 ml-auto text-right ">
            <input type="reset" class="btn btn-outline-secondary m-3" value="Cancel" />
            <input type="submit" class="btn btn-primary"  value="Save Changes" />
          </div>
        </div>
    </form>
      </div>
   
  </div>
</div>
<app-footer></app-footer>
