<!-- 
<div style="margin: 0 25px;">
  <form>
    <div class="form-group form-inline">
        Search Questions: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Choice 1</th>
      <th scope="col">Choice 2</th>
      <th scope="col">Choice 3</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of question$ | async;">
      <td><ngb-highlight [result]="q.title"  [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="q.choice1"  [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="q.choice2" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="q.choice3"  [term]="filter.value"></ngb-highlight></td>
      <td>
        <button class="btn btn-outline-warning">Edit</button> |
        <button class="btn btn-outline-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
    </div>

</div> -->