<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/logo.png"
      style="width: 50px; height: 50px;" /></a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">About</a>
      </li>

      <li class="nav-item dropdown m-1">
        <a class="nav-link dropdown-toggle" (click)="isMenuCollapsed = true" mat-button
          [matMenuTriggerFor]="careers">Career Roadmap</a>

        <mat-menu #careers="matMenu">
          <div *ngFor="let career of careerData">
            <button (click)="goToRoadMap(career.careerId)" mat-menu-item >
              <!-- <button [routerLink]="['roadmap/',career.careerId]" mat-menu-item > -->
              {{career.careerName}}
            </button>
          </div>
        </mat-menu>
      </li>

      <li class="nav-item">
        <a class="nav-link"  *ngIf="!token" routerLink="/admin/index" (click)="isMenuCollapsed = true">Admin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/careers" (click)="isMenuCollapsed = true">Job Profiles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/course" (click)="isMenuCollapsed = true">Take Exam</a>
      </li>

      <li *ngIf="token" class="nav-item dropdown m-1">
        <a class="nav-link dropdown-toggle" (click)="isMenuCollapsed = true"
         mat-button [matMenuTriggerFor]="user"> {{username}} </a>

        <mat-menu #user>
          <button routerLink="/profile" mat-menu-item>
            Progress
          </button>
          <button routerLink="/user-profile" mat-menu-item>
            Profile
          </button>
          <hr/>
          <button routerLink="/" mat-menu-item (click)="logout()" >
            Logout
          </button>
        </mat-menu>
      </li>

    </ul>
  <div class="search-container">
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn custom-search" type="submit"> <i class="fa fa-fw fa-search"></i></button>
      </form>
  </div>
  <button *ngIf="!token" class="btn btnlogin my-2 my-sm-0 m-1 custom-register" (click)="register()" type="button">Register</button>
  <button *ngIf="!token" class="btn btnlogin my-2 my-sm-0 m-1 custom-login" (click)="open()"> Login</button>
  <img  *ngIf="token" src="" alt="">

  </div>
</nav>
<app-toaster-modal></app-toaster-modal>