<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/v1.0.7/angular-material.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.js"></script>
<script src="https://rawgit.com/angular/bower-material/v1.0.7/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-aria.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" [routerLink]="'.'"><img src="../../../assets/images/logo.png" style="width:50px;height:50px;"></a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
      </li>

    <li class="dropdown show">
        <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle"  id="dropdownBasic1" ngbDropdownToggle>Career Paths</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item dropdown-toggle"  id="dropdownBasic1" ngbDropdownToggle routerLink="/">Web Development </a>

                <a class="dropdown-item "   routerLink="/">Mobile Development </a>
                <a class="dropdown-item"  routerLink="/">Data Science </a>

            </div>
          </div>

    </li>
    <!-- <div ng-app="myApp" ng-cloak>
      <md-menu-bar>
               <md-menu>
                 <button class="md-button md-raised md-default" ng-click="$mdOpenMenu()">
                   Menu
                 </button>
                 <md-menu-content>
                   <md-menu-item>
                     <md-menu>
                       <md-button ng-click="$mdOpenMenu()">Link1</md-button>
                       <md-menu-content>
                         <md-menu-item><md-button>Document</md-button></md-menu-item>
                         <md-menu-item><md-button>File</md-button></md-menu-item>
                       </md-menu-content>
                     </md-menu>
                   </md-menu-item>
                   <md-menu-item>
                     <md-menu>
                       <md-button ng-click="$mdOpenMenu()">Link2</md-button>
                       <md-menu-content>
                         <md-menu-item><md-button>Document</md-button></md-menu-item>
                         <md-menu-item><md-button>File</md-button></md-menu-item>
                       </md-menu-content>
                     </md-menu>
                   </md-menu-item>
                   <md-menu-item>
                     <md-menu>
                       <md-button ng-click="$mdOpenMenu()">Link3</md-button>
                       <md-menu-content>
                         <md-menu-item><md-button>Document</md-button></md-menu-item>
                       </md-menu-content>
                     </md-menu>
                   </md-menu-item>
                   <md-menu-item>
                     <md-menu>
                       <md-button ng-click="$mdOpenMenu()">Link4</md-button>
                       <md-menu-content>
                         <md-menu-item><md-button>Document</md-button></md-menu-item>
                       </md-menu-content>
                     </md-menu>
                   </md-menu-item>
                 </md-menu-content>
               </md-menu>
             </md-menu-bar>
     </div> -->

      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/courses-list" (click)="isMenuCollapsed = true">Course List</a>
      </li>


      <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Username</span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item "   routerLink="/profile">Profile</a>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item "   routerLink="/">Settings</a>
          </li>
          <hr/>
          <li class="dropdown-submenu">
            <a class="dropdown-item "   routerLink="/">Logout</a>
        </li>
        </ul>
      </li>



    </ul>
    <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn my-2 my-sm-0 m-1 custom-search" type="submit">Search</button>

      <button class="btn btnlogin my-2 my-sm-0 m-1 custom-register" (click)="register()" type="button">Register</button>
        <button class="btn btnlogin my-2 my-sm-0 m-1 custom-login"  (click)="open()"> Login</button>


      </form>
  </div>

</nav>
