<div class="cart-add" *ngIf="showAdd" (click)="hideNotif()">
    <i class="fa fa-check"></i>
    <p>Login Successfully</p>
</div>

<div class="cart-add" *ngIf="showRegister" (click)="hideNotif()">
    <i class="fa fa-check"></i>
    <p>Register Successfully</p>
</div>

<!-- <div class="cart-remove" *ngIf="showRemove" (click)="hideNotif()">
    <i class="fa fa-times"></i>
    <p>Product has removed from <span>cart.</span></p>
</div>

<div class="cart-remove" *ngIf="showOutStock" (click)="hideNotif()">
    <i class="fa fa-times"></i>
    <p>This Product is out of stock.</p>
</div> -->

