<div style=" background-color: white !important;
height: 150vh;
padding-left: 50px;
margin-left: 250px;">
  <app-admin-nav></app-admin-nav>
  <app-spinner *ngIf="showSpinner"></app-spinner>

  <div *ngIf="!showSpinner" style="background-color: #fff; margin: 15px; width: 95%; height: auto;">
    <div class="alert alert-dark ">View Courses Details</div>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Link</th>
          <th scope="col">Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of coursel">
          <td> {{c.courseName}} </td>
          <td> {{c.path}} </td>
          <td> {{c.payment}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    

<!-- 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">DELETE !!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete course?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteCourse()">Delete</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template> -->
