<div class="container">
  <div class="row main">

    <div class="col-md-6 data">
      <img src="../../../../assets/images/user.png" alt="Profile Picture">
      <div class="username">
        <p>{{ username }}</p>
      </div>
      <label> <span> 4 </span> days of continuous learning</label>
      <div class="contactInfo">
        <h4>Contact Information</h4>
        <h5>Email: test@test.com</h5>
      </div>
      <div class="careerInfo">
        <h4>Career Information</h4>
        <h5>Career Path: Frontend</h5>
        <h5>Current Level: Intermediate</h5>
        <h5>Current Courses: Angular2</h5>
      </div>
    </div>

    <div class="col-md-6 board">
      <div class="careerProgress"  style="margin-top: 70px;">
        <h4>Career Progress</h4>
        <app-doughnu></app-doughnu>
      </div>
      <div class="onGoingCourses">
        <h4>Ongoing Courses</h4>
        <p>
          Angular
          <ngb-progressbar [showValue]="true" type="danger" [value]="35" [max]="70" height="1.75rem"></ngb-progressbar>
        </p>
        <p>
          Typescript
          <ngb-progressbar [showValue]="true" type="warning" [value]="37.5" [max]="50" height="1.75rem">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
