.main {

  color: #F3F3F3;
  padding: 20px;


  padding: 1rem;
  padding-top: 2em;

}

.data {

  background-color: #111111;

  padding: 50px;
  text-align: center;

}

.data img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #F3F3F3;

}

.careerInfo,
.contactInfo {
  margin-top: 1.5em;
  /* text-align: center; */
}

h5 {
  margin-left: 1.5em;
  /* text-align: center; */

}

h4 {
  color: #FFF;
  margin-bottom: 20px;
}

label span {
  color: #E43F5A;
  margin-bottom: 1.5rem;
}

span {
  font-size: 20px;
}

.board {

  background-color: #111111;

}

.courseStreak,
.careerProgress,
.onGoingCourses {

  margin: .5em 2em;
  padding: 1.5em;
}

.username {

  height: 5rem;
  padding: 1.5rem;
}

.username p {
  color: #E43F5A;
  margin-right: 2.5rem;
  font-size: 1.5em;
  text-align: center;

}
