<app-profile-header></app-profile-header>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div class="container" *ngIf="!showSpinner">

  <div class="row main">
    <div class="col-md-6 data">
      <h4 style="text-align: left;">Courses Progress</h4>
  
      <div>
        <div class="row" *ngFor="let c of course">
          <div class="col-9">
            <div class="progress" *ngIf="c.progress === 'pass'">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 100%;"
              >
                <span class="sr-only">100% Complete</span>
              </div>
              <span class="progress-type"> {{ c.title }} </span>
              <span class="progress-completed">100%</span>
            </div>
  
            <div class="progress" *ngIf="c.progress == 'fail'">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="30"
                style="width: 50%;"
              >
                <span class="sr-only">In Progress</span>
              </div>
              <span class="progress-type"> {{ c.title }} </span>
              <span class="progress-completed">In Progress</span>
            </div>
  
            <div class="progress" *ngIf="c.progress === 'untaken'">
              <div
                class="progress-bar"
                style="background-color: gray !important;"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 0%;"
              >
                <span class="sr-only">Not Started</span>
              </div>
              <span class="progress-type"> {{ c.title }} </span>
              <span class="progress-completed">Not Started</span>
            </div>
          </div>
          <div class="col-3">
            <div *ngIf="c.progress === 'pass'">
              <button class="btn btn-success" disabled>Passed</button>
            </div>
            <div *ngIf="c.progress === 'fail'">
              <button class="btn btn-success" (click)="goToCourse(c.courseId)">
                Take Exam
              </button>
            </div>
            <div *ngIf="c.progress === 'untaken'">
              <button
                disabled
                class="btn btn-light"
                matTooltip="Complete all previous courses and their exams"
              >
                Take Exam
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="finishedd" (click)="openModal(content)">Go to Next Level</button>

      </div>
    </div>
  
    <div class="col-md-6 board">
      <div class="careerProgress" style="margin-top: 70px;">
        <div>
          <div style="display: block;">
            <canvas
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div style="margin-top: 30px;">
        <div id="chartdiv" style="width: 100%; height: 200px; margin-top: 30px;"></div>
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Congratulations</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Congratulations. You have completed this level successfully. Good luck.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="goToNextLevel()">Go Now</button>
  </div>
</ng-template>