<div class="main">
<app-admin-nav></app-admin-nav>
<mat-card-content>
    <div class="my-form mat-elevation-z8" style="margin-top: 30px;">
      <h3 class="title-style">Add Question</h3>
      <form #f="ngForm" (ngSubmit)="saveData(f.value)">
        <mat-form-field class="full-width">
            <mat-label>Select Course</mat-label>
            <mat-select >
                <mat-option *ngFor="let c of courses" 
                [value]="c.courseId"
                (click)="getSelected(c.courseId)"
                >
                  {{c.courseName}}
                </mat-option>
             
            </mat-select>
          </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Question</mat-label>
          <input matInput placeholder="Add Question header" ngModel #title="ngModel" name="title" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>A</mat-label>
          <input matInput placeholder="Add Choice 1" ngModel name="ch1" required />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>B</mat-label>
            <input matInput placeholder="Add Choice 2" ngModel name="ch2" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>C</mat-label>
            <input matInput placeholder="Add Choice 3" ngModel name="ch3" required />
          </mat-form-field>
          <!-- <mat-form-field class="full-width">
            <mat-label>Right Answer </mat-label>
            <input matInput placeholder="Add Right Answer" ngModel #right="ngModel" name="right" required />
          </mat-form-field> -->
          <mat-form-field class="full-width">
            <mat-label>Select Right Answer Number</mat-label>
            <mat-select disableRipple>
              <mat-option (click)="getChoice('a')" value="1">A</mat-option>
              <mat-option (click)="getChoice('b')" value="2">B</mat-option>
              <mat-option (click)="getChoice('c')" value="3">C</mat-option>
            </mat-select>
          </mat-form-field>
          
        <br />
        <mat-card-actions>
          <button routerLink='/admin/question' 
            mat-stroked-button color="primary"
            style="margin-right: 20px;">Back</button>
          <button mat-raised-button color="primary" [disabled]="f.invalid || selectedItem==0 || selectedChoice==''"
          (click)="openSnackBar()">ADD</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
  </div>
