<div class="main">
<app-admin-nav></app-admin-nav>
<mat-card-content>
    <div class="my-form mat-elevation-z8" style="margin-top: 30px;">
      <h3 class="title-style">Add Question</h3>
      <form #f="ngForm" (ngSubmit)="saveData(f.value)">
        <mat-form-field class="full-width">
            <mat-label>Course</mat-label>
            <mat-select >
              <mat-option>Select Course</mat-option>
                <mat-option *ngFor="let c of courses" 
                [value]="c.courseId"
                (click)="getSelected(c.courseId)"
                >
                  {{c.courseName}}
                </mat-option>
             
            </mat-select>
          </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Question</mat-label>
          <input matInput placeholder="Add Question header" ngModel #title="ngModel" name="title" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Choice 1</mat-label>
          <input matInput placeholder="Add Choice 1" ngModel #ch1="ngModel"  name="ch1" required />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Choice 2</mat-label>
            <input matInput placeholder="Add Choice 2" ngModel #ch2="ngModel"  name="ch2" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Choice 3</mat-label>
            <input matInput placeholder="Add Choice 3" ngModel #ch3="ngModel" name="ch3" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Right Answer </mat-label>
            <input matInput placeholder="Add Right Answer" ngModel #right="ngModel" name="right" required />
          </mat-form-field>
        <mat-form-field class="full-width">
           <mat-label>Grade</mat-label>
           <input matInput placeholder="Question grade" ngModel #grade="ngModel" name="grade" required />
         </mat-form-field>
        <br />
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="f.invalid || selectedItem==0"
          (click)="openSnackBar()">ADD</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
  </div>