
<div class="main">
    <div class="exam-container" *ngFor="let item of items">
        <div class="header row">
            <h4 class="col-7"><span><mat-icon>library_books</mat-icon></span>{{ courseName }} Quiz</h4>
            <h5 class="col-4"><span><mat-icon>date_range</mat-icon></span> {{ testDate }} </h5>
        </div>
        <div class="body">
            <p>Duration: {{ testDuration }} minutes <span><mat-icon>query_builder</mat-icon></span> </p>
            <p>Score: {{ grade }} <span><mat-icon> score</mat-icon></span></p>
        </div>
        <input type="hidden" name="" [value]= item>
    </div>
</div>
<app-footer></app-footer>