<app-navbar></app-navbar>
<div class="container">

  <h2 class="title">How to become (Front developer):-</h2>
  <p>

    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.
    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.
    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.
    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.
    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.
    some words about frontend path (the selected path) , why to choose this path
    and some job statistics about this path to the relative country.

  </p>


  <div class="card">

    <div class="form-group">

      <h3>Technologis to start your career:-</h3>


      <table class="web">
        <thead>
          <tr>
            <th class="col-4"></th>
            <th class="col-8"></th>

          </tr>
        </thead>
        <tbody>
          <tr class="row" *ngFor="let i of webDev">
            <td class="col-4 name">{{i.name}}</td>
            <td routerLink='/course' class="col-8 discr">
             <a style="cursor: pointer;">{{i.description}}</a> </td>

          </tr>
          <tr class="row">
            <td class="col-12">
              <a class="leftMain" routerLink="/courses-list" >Go to Courses</a>
            </td>
          </tr>


        </tbody>



      </table>


    </div>
  </div>

</div>
