<app-navbar></app-navbar>

<div id="chartdiv"></div>


<div class="container-md main">
  <div class="row ">

    <div class="col-md-12 text-center m-1">
      <br><br>

      <h1>Welcome to Career Path!</h1>
      <h5>With Career Path, you can build and apply skills in top technologies. You have free access to
         a map to many paths and a library of free and paid courses and also you can track your progress.

      </h5><br><br>
      <hr/>
    </div>

    
    <div class="col-md-12 text-center m-1">
      <br><br>
      <h1>Career Tracks</h1>
      <h5>Explore courses of popular tracks of development, developer tools, software practices and app development
        platforms.
      </h5>
      <hr/>
    </div>
    <div class="row">
    <div class="col-md-4 col-sm-4 h-auto " *ngFor="let career of careerData">
      <mat-card >

        <mat-card-title>
          <button class="btn btn-danger ml-5 "
            [routerLink]="['roadmap/',career.careerId]">{{career.careerName}}</button>
            <p>{{career.description}}</p>
          </mat-card-title>
         

      </mat-card>
   
    </div>
 
  </div>


    <!-- *********************************************************************** -->

    
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <hr/>
         <h1 class="text-center">Keep in Touch with the Technology World</h1>
      <!--Controls-->
      <div class="controls-top text-center">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <div class="carouselImg">
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>

        </ol>
      </div>

      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="col-md-4 " style="float:left">
            <div class="card mb-2 " >
              <img class="card-img-top" src="../../../assets/images/LinkedIn.png"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">LinkedIn</h4>
                <p class="card-text"> Connect the world’s professionals to make them more productive and successful.</p>
                <a class="btn btn-danger" href="https://www.linkedin.com/">Learn More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="../../../assets/images/wuzzuf.png"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">wuzzuf</h4>
                <p class="card-text">Find the Best Jobs in Egypt,
                  Searching for vacancies & career opportunities</p>
                <a class="btn btn-danger" href="https://wuzzuf.net/jobs/egypt">Learn More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="../../../assets/images/Cv.png"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Make your CV</h4>
                <p class="card-text">How to Write a CV (Curriculum Vitae) with Examples.</p>
                <a class="btn btn-danger" href="https://novoresume.com/career-blog/how-to-write-a-cv" >Learn More</a>
              </div>
            </div>
          </div>

         

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="../../../assets/images/tech.JPG"
                alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">Technology Trends</h4>
                <p class="card-text">Technology is now evolving at such a rapid pace that annual predictions. </p>
                <a class="btn btn-danger" href="https://www.simplilearn.com/top-technology-trends-and-jobs-article">Leran More</a>
              </div>
            </div>
          </div>


          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="../../../assets/images/freejpg.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Work from Home</h4>
                <p class="card-text">Best Freelance Websites to Find Work in 2020.</p>
                <a class="btn btn-danger" href="https://www.hostinger.com/tutorials/best-freelance-websites">Learn Home</a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="../../../assets/images/interview.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"> Prepare for an Interview</h4>
                <p class="card-text">There are several steps you can take to prepare yourself for a successful interview.</p>
                <a class="btn btn-danger" href="https://www.indeed.com/career-advice/interviewing/how-to-prepare-for-an-interview">Learn More</a>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->



      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
  </div>
  <br><br>

</div>

<app-footer></app-footer>
