.main{
   /* margin-top: 30px;
   margin-bottom: 30px; */
   padding: 25px;
   /*background-color: #363636;
   */color: #fff;
  
}
mat-card{
    margin: 10px;
    background-color: #222222;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20p;
    -moz-border-radius: 20p;
    -ms-border-radius: 20p;
    -o-border-radius: 20p;
}
mat-card-title{
    padding: 20px;
}

#chartdiv {
    width: 100%;
    height: 600px;
    position: relative;
  }
  #chartdiv:after {
    position: absolute;
    content: '';
    border-bottom: 20px solid  #161616 ;
    width: 100%;
    transform: translateX(-50%);
    bottom: 1px;
    left: 50%;
  }

.slider-img img{
    width: 100%;
    height: 580px !important;
}
.home-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.controls-top{
    padding: 20px;
    margin: 20px;
    
}
.btn-floating{
    width:80px;
    height: 50px;
    color: white;
    padding: 20px;
    margin: 20px;
    background-color:#EE3550;
   
}

.card-body{
  
    color: black;
}
.card-body a{
    color: white;
}
.carouselImg .carousel-indicators li {
     width: 1.25rem;
    max-width: 1.25rem;
    height: 1.25rem;
    margin-bottom: -2.75rem;
    background-color: #EE3550;
}
.card-img-top{
height: 300px;
}