<div class="main">
<app-admin-nav></app-admin-nav>

<mat-card-content>
  <div class="my-form mat-elevation-z8" style="margin-top: 30px;">
    <h3 class="title-style">Add Course</h3>
    <form #c="ngForm" (ngSubmit)="saveData(c.value)">
      <mat-form-field class="full-width">
        <mat-label>Select Path</mat-label>
        <mat-select>
          <mat-option
          *ngFor="let item of subCareer"
          [value]="item.subCareerId" 
          (click)="getSelected(item.subCareerId)"> {{item.subCareerName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput ngModel #cou="ngModel" placeholder="Course Title" name="cou" required />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Link</mat-label>
        <input matInput ngModel #coun="ngModel" placeholder="Course Link" name="coun" required />
      </mat-form-field>
      <mat-form-field class="full-width">
         <mat-label>Duration</mat-label>
         <input matInput ngModel #dur="ngModel"  placeholder="Course Duration In Hours" name="dur" required />
       </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput required ngModel  #des="ngModel" name="des" placeholder="Ex. Free Course from Udemy that ..."></textarea>
      </mat-form-field>
      <br />
      <mat-card-actions>
        <button type="submit" 
        mat-raised-button color="primary"
        (click)="openSnackBar()"
        [disabled]="c.invalid || selectedItem==0">ADD</button>
      </mat-card-actions>
    </form>
  </div>
</mat-card-content>
</div>