<app-navbar></app-navbar>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngIf="!showSpinner" class="container main">
  <h1 class="text-center alert"> {{careerName}} Career Path</h1>
  <div class="row">
    <div class="col-12">
      <!-- <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item w-25 text-center" *ngFor="let item of subCareers">
            <a class="nav-link active" 
              id="front-tab" data-toggle="tab" role="tab" aria-controls="fron"
              [href]="hash.concat(item.subCareerName)"
              > {{item.subCareerName}} </a>
        </li>
    </ul> -->
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item w-25 text-center">
                <a class="nav-link active" id="front-tab" data-toggle="tab" href="#front" role="tab" aria-controls="fron" aria-selected="true">Front End</a>
            </li>
            <li class="nav-item w-25 text-center">
                <a class="nav-link" id="back-tab" data-toggle="tab" href="#back" role="tab" aria-controls="back" aria-selected="false">Back End</a>
            </li>
            <li class="nav-item w-25 text-center">
              <a class="nav-link" id="full-tab" data-toggle="tab" href="#full" role="tab" aria-controls="full" aria-selected="false">Full Stack</a>
          </li>
        </ul>
  
    </div>
</div>
</div>

<div class="tab-content ml-1" id="myTabContent">
  <div class="tab-pane fade show active" id="front" role="tabpanel" aria-labelledby="front-tab">
    <table class="table  table-borderless table-responsive-md ">
      <thead >
        <tr>
          <th scope="col"></th>
          <th scope="col" class="mandatory" style="margin-left: 50px;"><h4>Beginner </h4>  <i class="fa fa-arrow-down"></i></th>
          <th scope="col" class="good-to-know"><h4>Intermediate</h4>  <i class="fa fa-arrow-down"></i></th>
          <th scope="col" class="optional">
              <h4>Advanced</h4>
              <i class="fa fa-arrow-down"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="courses-row">   
          <th scope="row" ></th>
          <td class="mandatory-courses">
              <div (click)="openModal(completed, 'HTML')">HTML</div>
              <div (click)="openModal(completed, 'HTML')">CSS</div>
              <div (click)="openModal(completed, 'HTML')">JS</div>
              <div (click)="openModal(completed, 'HTML')">JQuery</div>
          </td>
          <td class="good-courses">
            <div (click)="openModal(completed, 'HTML')">HTML</div>
            <div (click)="openModal(completed, 'HTML')">CSS</div>
            <div (click)="openModal(completed, 'HTML')">JS</div>
            <div (click)="openModal(completed, 'HTML')">JQuery</div>
          </td>
          <td class="optional-courses">
            <div (click)="openModal(completed, 'HTML')">HTML</div>
            <div (click)="openModal(completed, 'HTML')">CSS</div>
            <div (click)="openModal(completed, 'HTML')">JS</div>
            <div (click)="openModal(completed, 'HTML')">JQuery</div>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>

<ng-template #completed let-modal>
  <div class="dark-modal">
      <div class="modal-header">
          <div class="head-right col-6">
              <h4 class="modal-title"> {{ courseTitle}} </h4>
          </div>
          <div class="head-left col-6">
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </div>
        <div class="modal-body">
          <p> You have successfully completed this coures. </p>
          <p> Exam date : 15/5/2020 </p>
          <p> Score : 25 </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" (click)="modal.close('Close click')">Close</button>
          <button type="button" class="btn btn-custom" (click)="modal.close('Close click')" routerLink="/web">Leran More</button>
        </div>

  </div>
</ng-template>
<app-footer></app-footer>