<app-spinner *ngIf="spinner"></app-spinner>
<app-navbar></app-navbar>
<div class="container main" *ngIf="!spinner">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center alert"> {{careerName}} Career Path</h1>
    
    <table class="table  table-borderless table-responsive-md " >
      
        <thead >
          <tr>
            <th scope="col"></th>
            <th scope="col" class="mandatory" style="margin-left: 50px;"><h4>Beginner </h4>  <i class="fa fa-arrow-down"></i></th>
            <th scope="col" class="good-to-know"><h4>Intermediate</h4>  <i class="fa fa-arrow-down"></i></th>
            <th scope="col" class="optional">
                <h4>Advanced</h4>
                <i class="fa fa-arrow-down"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="courses-row" *ngFor="let item of subcareers"   >
            
            <th scope="row" class="courses-list">{{item.subCareerName}}</th>
            <td>
                <!-- <div (click)="openModal(completed, 'HTML')">HTML  </div>
                <div (click)="openModal(completed, 'HTML')">CSS</div>
                <div (click)="openModal(completed, 'HTML')">JS</div>-->
                <!-- <div (click)="openModal(completed, 'HTML')">JQuery</div>  -->
                <div class="mandatory-courses" *ngFor="let subcareerCourses of CoursesWithSubCareers; " [ngClass]="{'display':subcareerCourses.level !='Beginner' }">
                <div (click)="openModal(completed, 'HTML')" *ngIf="subcareerCourses.subCareerName == item.subCareerName && subcareerCourses.level =='Beginner' ">
                  {{subcareerCourses.courseName}} 
                </div>
              </div>

            </td>
            <td>
              <!-- <div (click)="openModal(completed, 'HTML')">HTML</div>
              <div (click)="openModal(completed, 'HTML')">CSS</div> -->
                <div class="good-courses" *ngFor="let subcareerCourses of CoursesWithSubCareers" [ngClass]="{'display':subcareerCourses.level !='Intermediate'}">
              <div (click)="openModal(completed, 'HTML')"   *ngIf="subcareerCourses.subCareerName == item.subCareerName && subcareerCourses.level =='Intermediate' ">
                {{subcareerCourses.courseName}}
              </div>
            </div>
            </td>
            <td>
              <!-- <div (click)="openModal(completed, 'HTML')">HTML</div>
              <div (click)="openModal(completed, 'HTML')">CSS</div>
              <div (click)="openModal(completed, 'HTML')">JS</div> -->
              <!-- <div *ngFor="let subcareerCourses of CoursesWithSubCareers"> -->
                <div class="optional-courses" *ngFor="let subcareerCourses of CoursesWithSubCareers" [ngClass]="{'display':subcareerCourses.level !='Advanced'}">
                  <div (click)="openModal(completed, 'HTML')"   *ngIf="subcareerCourses.subCareerName == item.subCareerName && subcareerCourses.level =='Advanced' ">
                    {{subcareerCourses.courseName}}
                  </div>
                </div>
            </td>
          </tr>
          <hr />

        </tbody>
      </table>
</div>
</div>
</div>


<ng-template #completed let-modal>
  <div class="dark-modal">
      <div class="modal-header">
          <div class="head-right col-6">
              <h4 class="modal-title"> {{ courseTitle}} </h4>
          </div>
          <div class="head-left col-6">
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </div>
        <div class="modal-body">
          <p> You have successfully completed this coures. </p>
          <p> Exam date : 15/5/2020 </p>
          <p> Score : 25 </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" (click)="modal.close('Close click')">Close</button>
          <button type="button" class="btn btn-custom" (click)="modal.close('Close click')" routerLink="/web">Leran More</button>
        </div>

  </div>
</ng-template>