
<div class="login">
    <div class="login__header">
        <img class="login--logo" src="https://www.freelogodesign.org/Content/img/logo-samples/bakary.png" alt="">
        <h1 class="login--name">Website Name</h1>
    </div>
    <div class="login__form">
        <div class="form--group">
            <span class="form--icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input class="form--input" type="text" name="" placeholder="username" id="">
        </div>
        <div class="form--group">
            <span class="form--icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input class="form--input" type="text" password="" placeholder="password" id="">
        </div>

        <button class="form--input--button">Login</button>
        <p class="form-forget">forget password ?</p>

    </div>
    <div class="login__footer">
        <a routerLink='/register'>create an account !</a>
    </div>
</div>
