<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
<app-navbar></app-navbar>

<div class="col-md-12 text-center title"><h4>Test Your Knowledge !</h4></div>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngIf="!showSpinner">
  <div class="container-md main" *ngIf="!finished">
    <form [formGroup]="formGroup">
      <mat-horizontal-stepper formArrayName="form">
        <mat-step
          [formGroupName]="i"
          *ngFor="
            let customerGroup of formGroup.controls.form.controls;
            let i = index;
          "
        >
          <div *ngIf="i < 9">
            <ng-template matStepLabel>Q{{ i + 1 }}</ng-template>
            <h2>{{ QsExam[i].questName }}</h2>
            <mat-radio-group aria-label="Select an option" required>
              <mat-radio-button value="1" (click)="getAnswer(Qs[i].choice1, Qs[i].id)"> {{ QsExam[i].a }} </mat-radio-button>
              <mat-radio-button value="2" (click)="getAnswer(Qs[i].choice2, Qs[i].id)"> {{ QsExam[i].b }} </mat-radio-button>
              <mat-radio-button value="3" (click)="getAnswer(Qs[i].choice3, Qs[i].id)"> {{ QsExam[i].c }} </mat-radio-button>
            </mat-radio-group>
            <div style="float: right;">
              <button mat-stroked-button color="primary" matStepperPrevious *ngIf="i != 0">Back</button>
              <button mat-raised-button color="primary" matStepperNext (click)="addItem()" style="margin-left: 10px;">Next</button>
            </div>
          </div>
          <div *ngIf="i == 9">
            <ng-template matStepLabel>Done</ng-template>
            <h2>{{ QsExam[i].questName }}</h2>
            <mat-radio-group aria-label="Select an option" required>
              <mat-radio-button value="1" (click)="getAnswer(Qs[i].choice1, Qs[i].id)"> {{ QsExam[i].a }} </mat-radio-button>
              <mat-radio-button value="2" (click)="getAnswer(Qs[i].choice2, Qs[i].id)"> {{ QsExam[i].b }} </mat-radio-button>
              <mat-radio-button value="3" (click)="getAnswer(Qs[i].choice3, Qs[i].id)"> {{ QsExam[i].c }} </mat-radio-button>
            </mat-radio-group>
            <div style="float: right;">
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" 
              matTooltip="Answer All Questions to finish the exam"
              matTooltipPosition="above"
              style="margin-left: 10px;" 
              (click)="openModal(finish)"
              [disabled]='Answers.length!=10'
              >Finish</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
    <div style="color: #fff;">
      Time: <countdown [config]="{ leftTime: 900, format: 'm:s' }"></countdown>
    </div>
  </div>
</div>

<ng-template #finish let-modal>
  <div class="dark-modal">
      <div class="modal-header">
          <h4 class="modal-title"> Finish the exam </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> Are you sure you want to submit your answers? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">cancel</button>
          <button mat-stroked-button color="primary" (click)="showAnswers()">Submit</button>
        </div>
  </div>
</ng-template>

<div class="container-md main" style="color: #fff;" *ngIf="finished">
  <h2>You have finished the quiz.</h2>
  <h3>Grade: </h3>
  <h3>Time: </h3>
</div>

<app-footer></app-footer>
