
<div class="main-div">
    <app-admin-nav></app-admin-nav>
    <!-- <mat-spinner *ngIf="showSpinner"></mat-spinner> -->
    <app-spinner *ngIf="showSpinner"></app-spinner>
    
    <div [hidden]="showSpinner" style="background-color: #fff; margin: 15px; width: 95%; height: auto;">
        <div class="alert alert-dark ">View Exams</div>
        
        <div class="mat-elevation-z8" style="overflow: hidden;">
          <div class="table-container">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Course</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of usersExam">
                    <td> {{e.userName}} </td>
                    <td> {{e.courseName}} </td>
                    <td> {{e.userGrade}} </td>
                    <td> {{e.dateTime}} </td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
        </div>
        
      </div>
    </div>
    
    