<app-navbar></app-navbar>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngIf="!showSpinner" class="container-fluid main">
    <h2 class="title">{{ courseName }} Courses</h2>
    
    <!-- <div class="container course-list">
        <div  *ngFor="let item of courses">
            <div class="course-data" *ngIf="item.coursePayment=='Free'||item.coursePayment=='free'">
                <h5>FREE Courses </h5>
            <div class="row">
                <div class="col-7">
                    <p> {{item.courseLinks}} </p>
                </div>
            </div>
        </div>

        <h5 class="paid" *ngIf="item.coursePayment=='Paid'||item.coursePayment=='paid'">
            PAID Courses </h5>
        <div class="course-data">
            <div class="row">
                <div class="col-7">
                    <p> {{item.courseLinks}} </p>
                </div>
            </div>
        </div>
        </div>
    </div> -->

    <h4 class="container" style="color: #EE3C48;">FREE Courses</h4>
        <div *ngFor="let item of courses">
            <div class="container course-list" *ngIf="item.coursePayment=='Free'||item.coursePayment=='free'">
                <div class="row">
                    <div class="col-7">
                        <p> {{item.courseLinks}} </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="container" style="color: #EE3C48;">PAID Courses</h4>
        <div *ngFor="let item of courses">
            <div class="container course-list" *ngIf="item.coursePayment=='Paid'||item.coursePayment=='paid'">
                <div class="row">
                    <div class="col-7">
                        <p> {{item.courseLinks}} </p>
                </div>
            </div>
        </div>
    </div>
  
</div>


<!-- <ng-template #content let-modal>
    <div class="dark-modal">
        <div class="modal-header">
            <div class="head-right col-6">
                <h4 class="modal-title"> {{courseTitle}} </h4>
                <h6>www.youtube.com/saogpsal</h6>
            </div>
            <div class="head-left col-6">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="modal-body">
            <p>
                Free tutorial about {{courseTitle}} from W3Schools.
                Basically for beginners with amazing illustration and explanation
                Good to start your journey with if you are totally beginner.
            </p>
            <h6>-Course duration: 7 Days</h6>
            <p>* You can challenge yourself and complete the course in less than 7 days</p>
          </div>
    </div>
</ng-template> -->
<app-footer></app-footer>