<app-navbar></app-navbar>
<app-spinner *ngIf="spinner"></app-spinner>
<div class="container" *ngIf="!spinner">
  <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-8 m-3 ">
          <div class="card">

              <div class="card-body" >
                  <div class="card-title mb-4">
                      <div class="d-flex justify-content-start">
                          <div class="image-container">
                              <img src="http://localhost:4000/upload/{{this.users.userData.image}}"  id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                              <div class="middle">
                                  
                                 
                              </div>
                          </div>
                          <div class="userData ml-3">
                              <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">  {{this.users.userData.fname +' '+this.users.userData.lname }}</a></h2>
                              <h6 class="d-block"><a href="javascript:void(0)">Level :</a>  {{this.users.userData.userLevel}}</h6>
                              <h6 class="d-block"><a href="javascript:void(0)">Career Path :</a> {{this.users.userData.subCareer}}</h6>
                          </div>
                          <div class="ml-auto">
                              <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-12">
                          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">My Courses</a>
                              </li>
                          </ul>
                          <div class="tab-content ml-1" id="myTabContent">
                              <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                  

                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Full Name</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                        {{this.users.userData.fname +' '+this.users.userData.lname }}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">userName</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                      {{this.users.userData.userName}}
                                    </div>
                                </div>
                                <hr />

                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Email</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                          {{this.users.userData.email}}
                                      </div>
                                  </div>
                                  <hr />
                                  
                                  
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Phone Number</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                        {{this.users.userData.phoneNumber}}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Country</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                        {{this.users.userData.country}}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Career Path</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                        {{this.users.userData.subCareer}}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Career Level</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                      {{this.users.userData.userLevel}}
                                    </div>
                                </div>
                                  <hr />

                              </div>
                              <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                 {{this.users.info}}
                                 <hr>
                              </div>
                          </div>
                      </div>
                      <div class="col text-center" ><input type="button" [routerLink]="['/edit-user-profile/',this.users.userData.id]"  class="btn btn-danger w-100 " id="btnChangePicture" value="Update Profile" /></div>
                  </div>


              </div>

          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>