<mat-card-content>
  <div class="my-form mat-elevation-z8" style="margin-top: 30px;">
   <h3 class="title-style">Add Career Path</h3>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Track</mat-label>
        <input matInput placeholder="Track Name" name="track" required />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Path</mat-label>
        <input matInput placeholder="Path Name" name="path" required />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. Front End is focus on UI ..."></textarea>
      </mat-form-field>
      <br />
      <mat-card-actions>
        <button mat-raised-button color="primary">ADD</button>
      </mat-card-actions>
    </form>
  </div>
</mat-card-content>
