<div class="main">
<app-admin-nav></app-admin-nav>
<div class="w-100 h-50 m-auto">
<mat-card-content >
  <div class="my-form mat-elevation-z8" style="margin-top: 30px;">
   <h3 class="title-style">Add A Career Path</h3>
    <form #f="ngForm" (ngSubmit)="saveData(f.value)">
      <mat-form-field class="full-width">
        <mat-label>Select Track</mat-label>
        <mat-select>
          <mat-option *ngFor="let c of careers" 
          [value]="c.careerId"
          (click)="getSelected(c.careerId)"
          >
            {{c.careerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Path</mat-label>
        <input matInput placeholder="Path Name" name="path" required ngModel #path="ngModel" name="path"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. Front End is focus on UI ..." required
        ngModel #desc="ngModel" name="desc"></textarea>
      </mat-form-field>
      <br />
      <mat-card-actions>
        <button type="submit" mat-raised-button 
        color="primary" 
        [disabled]="f.invalid || selectedItem==0"
        (click)="openSnackBar()">ADD</button>
      </mat-card-actions>
    </form>
  </div>
</mat-card-content>
</div>
</div>