<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <div class="main-timeline2" *ngFor="let item of data; let i=index;">
                <!-- <div [ngStyle]="{'background-color': style1 ? 'red' : (style2 ? 'blue' : null) }"></div> -->
                <!-- <div class="timeline" [ngClass]="{'display-hidden': i%2!=0}"> -->

                <div class="timeline" [ngClass]="{'display-hidden': i%2==0}">
                    <span class="icon fa fa-globe"></span>
                    <a class="timeline-content">
                        <h3 class="title"> {{item.title}} </h3>
                        <p class="description">
                            {{item.desc}}
                        </p>
                    </a>
                </div>
                <div class="timeline" [ngClass]="{'display-hidden': i%2!=0}">
                    <span class="icon fa fa-rocket"></span>
                    <a class="timeline-content">
                        <h3 class="title"> {{item.title}} </h3>
                        <p class="description">
                            {{item.desc}}
                        </p>
                    </a>
                </div>


                <!-- <div class="timeline">
                    <span class="icon fa fa-rocket"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-briefcase"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                        </p>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>