<div style=" background-color: white !important;
padding-left: 50px;
height: 150vh;
margin-left: 250px;">
  <app-admin-nav></app-admin-nav>
 <app-spinner *ngIf="showSpinner"></app-spinner>
  <div [hidden]="showSpinner" style="background-color: #fff; margin: 15px; width: 95%; height: auto;">
    <div class="alert alert-dark ">View Questions</div>
  <!-- <h6>Select Course</h6>
<mat-form-field>
  <mat-label>Courses</mat-label>
  <mat-select [formControl]="QControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of courseGroups" [label]="group.name" >
      <mat-option *ngFor="let c of course" [value]="c.courseId">
        {{c.courseName}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field> --> 
  
  <mat-form-field>
    <mat-label>Filter Questions</mat-label>
    <input matInput (keyup)="applyFilter($event)" >
  </mat-form-field>
  
  <div class="mat-elevation-z8" style="overflow: hidden;">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort > 
    
        <ng-container matColumnDef="questionName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;" > Question </th>
          <td mat-cell *matCellDef="let row"> {{row.questName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="choiceOne">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Choice1 </th>
          <td mat-cell *matCellDef="let row"> {{row.a}} </td>
        </ng-container>
    
        <ng-container matColumnDef="choiceTwo">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Choice2 </th>
          <td mat-cell *matCellDef="let row" > {{row.b}} </td>
        </ng-container>

        <ng-container matColumnDef="choiceThree">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Choice3 </th>
          <td mat-cell *matCellDef="let row" > {{row.c}} </td>
        </ng-container>
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;">Grade </th>
          <td mat-cell *matCellDef="let row"> {{row.grade}} </td>
        </ng-container>
        <ng-container matColumnDef="rightAnswer">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Right Answer </th>
          <td mat-cell *matCellDef="let row" > {{row.rightAns}} </td>
        </ng-container>
        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;">Course Name</th>
          <td mat-cell *matCellDef="let row" > {{row.course.courseName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="edit" >
          <th mat-header-cell *matHeaderCellDef class="main2"  >  </th>
          <td mat-cell *matCellDef="let row" class="main2" > 
            <button mat-stroked-button color="primary"  [routerLink]="['edit/',row.questId]"> <i class="fa fa-edit"></i></button> 
            
            
          </td>
          
        </ng-container>
        <ng-container matColumnDef="delete" >
          <th mat-header-cell *matHeaderCellDef class="main2" >  </th>
          <td mat-cell *matCellDef="let row" class="main2"   > 
            
            <button mat-stroked-button color="warn"
            
             (click)="openModal(content,row.questId)"> <i class="fa fa-trash"></i></button>
          </td>
        </ng-container>
        
  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" fixed></mat-paginator>
  </div>
  
</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">DELETE !!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete question?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteQuest()">Delete</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
