<div style="background-color: #fff; margin: 15px; width: 95%; height: auto;">
  <h6>Select Course</h6>
<mat-form-field>
  <mat-label>Courses</mat-label>
  <mat-select [formControl]="QControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of courseGroups" [label]="group.name" >
      <mat-option *ngFor="let c of group.course" [value]="c.value">
        {{c.viewValue}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
  
  <mat-form-field>
    <mat-label>Filter Questions</mat-label>
    <input matInput (keyup)="applyFilter($event)" >
  </mat-form-field>
  
  <div class="mat-elevation-z8" style="overflow: hidden;">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort > 
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="main"> Question </th>
          <td mat-cell *matCellDef="let row" class="main"> {{row.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="choice1">
          <th mat-header-cell *matHeaderCellDef> Choice1 </th>
          <td mat-cell *matCellDef="let row"> {{row.choice1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="choice2">
          <th mat-header-cell *matHeaderCellDef> Choice2 </th>
          <td mat-cell *matCellDef="let row" > {{row.choice2}} </td>
        </ng-container>

        <ng-container matColumnDef="choice3">
          <th mat-header-cell *matHeaderCellDef> Choice3 </th>
          <td mat-cell *matCellDef="let row"> {{row.choice3}} </td>
        </ng-container>
    
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="main">  </th>
          <td mat-cell *matCellDef="let row" class="main"> 
            <button class="btn btn-outline-warning">Edit</button> |
            <button class="btn btn-outline-danger">Delete</button>
          </td>
        </ng-container>
  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" fixed></mat-paginator>
  </div>
  
</div>