/* .bar-horzontal {
    max-width: 600px;
    border: 1px solid #333;
    background: #f2f2f2;
  } */

  /* *{
      text-align: right;
  }

  .bar-horzontal div{
    display: none;
}

.text-style{
    margin: 15px 0;

}
  div .complete{
      display: block;
      margin: 15px 0;
      border-radius: 5px;
    color: #fff;
    padding: 10px 0 10px 5px;
    box-sizing: border-box;
      width: 100%;
      background-color: rgb(1, 114, 1);
  } */
  /* div .progress{
    display: block;
    border-radius: 5px;
    margin: 15px 0;
    color: #fff;
    padding: 10px 0 10px 5px;
    background-color: rgb(190, 190, 190);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;

} */

/* div .partial{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 15px 0;
    color: #fff;
    padding: 10px 0 10px 5px;
    border-radius: 5px;
    background-color: rgb(240, 240, 48);
    z-index: 5;
}
div .undone{
    display: block;
    border-radius: 5px;
    margin: 15px 0;

    color: #fff;
    padding: 10px 0 10px 5px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(190, 190, 190);

} */


.progress {
    position: relative;
    height: 25px;
    margin: 20px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
    font-weight: 800;

	padding: 10px 50px 15px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
    font-weight: 800;
    color: black;
	padding: 10px 10px 2px;
}