<h3 style="text-align: left;">Courses Progress</h3>

<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngIf="!showSpinner">
<div class="row" *ngFor="let c of course" >
    <div class="col-9">
        <div class="progress" *ngIf="remain == 100">
            <div class="progress-bar bg-success" 
            role="progressbar" aria-valuenow="100" 
            aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only">100% Complete</span>
            </div>
            <span class="progress-type"> {{c.title}} </span>
            <span class="progress-completed">100%</span>
        </div>
    
        <div class="progress" *ngIf="remain == 40">
            <div class="progress-bar progress-bar-striped bg-success" 
            role="progressbar" aria-valuenow="30" 
            aria-valuemin="0" aria-valuemax="30" style="width: 50%;">
                <span class="sr-only">In Progress</span>
            </div>
            <span class="progress-type"> {{c.title}} </span>
            <span class="progress-completed">In Progress</span>
        </div>
    
        <div class="progress" *ngIf="remain == 0">
            <div class="progress-bar" style="background-color: gray !important;" 
            role="progressbar" aria-valuenow="100" 
            aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">Not Started</span>
            </div>
            <span class="progress-type"> {{c.title}} </span>
            <span class="progress-completed">Not Started</span>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="remain == 100">
            <button class="btn btn-success" disabled>Done</button>
        </div>
        <div *ngIf="inProgress == 40">
            <button class="btn btn-success" (click)="goToCourse(c.courseId)">Take Exam</button>
        </div>
        <div *ngIf="remain == 0">
            <button disabled class="btn btn-light"
            matTooltip="Complete all previous courses and their exams">Take Exam</button>
        </div>
    </div>
</div>

</div>

