<app-navbar></app-navbar>
<div>
    
    <div class="profile-items">
        <ul>
            <li>
                <a 
                 [ngClass]="{'active-link': activeLink === 'courses'}" 
                 (click)="getValue('courses')"
                 routerLink="/profile/courses">Courses</a>
            </li>
            <li>
                <a routerLink="/profile/exams"
                [ngClass]="{'active-link': activeLink === 'exams'}" 
                 (click)="getValue('exams')">Exams</a>
            </li>
            <li>
                <a routerLink="/profile" 
                [ngClass]="{'active-link': activeLink === ''}" 
                 (click)="getValue('')">Dashboard</a>
            </li>
        </ul>
    </div>
</div>


