<div class="container-fluid temp">
    <div class="row main">
        <div class="col-md-12">
            <h3>Wishlisted Courses</h3>
            <div class="col-md-4 " style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">JQuery</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(wishlist, 'JQuery')" class="btn btn-dark">View Datails</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(wishlist, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(wishlist, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
          
        </div>
       
        <div class="col-12 ">
          <hr class="courses-border">
            <h3>Ongoing Courses</h3>
            <div class="col-md-4 " style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">JQuery</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(ongoing, 'JQuery')" class="btn btn-dark">View Datails</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(ongoing, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(ongoing, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
             <hr>
        </div>
       
        <div class="col-12 completed">
          <hr class="courses-border">
            <h3>Completed Courses</h3>
            <div class="col-md-4 " style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">JQuery</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(completed, 'JQuery')" class="btn btn-dark">View Datails</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(completed, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="float:left">
              <div class="card mb-2 bg-danger">
                 <!-- <img class="card-img-top"
                   src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                 <div class="card-body">
                   <h4 class="card-title">Javascript</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p>
                   <a (click)="openModal(completed, 'Javascript')" class="btn btn-dark">View Details</a>
                 </div>
               </div>
             </div>
        </div>
    </div>
    

</div>

<ng-template #wishlist let-modal>
    <div class="dark-modal">
        <div class="modal-header">
            <h4 class="modal-title"> {{ courseTitle}} </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> CourseLink:  {{courseInfo.courseLink}} </p>
            <p> Course Duration:  {{courseInfo.courseDuration}} </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Remove from wishlist</button>
            <button type="button" class="btn btn-custom">Start Course</button>
          </div>
    </div>
</ng-template>

<ng-template #ongoing let-modal>
    <div class="dark-modal">
        <div class="modal-header">
            <div class="head-right col-6">
                <h4 class="modal-title"> {{ courseTitle}} </h4>
                <h6>www.youtube.com/saogpsal</h6>
            </div>
            <div class="head-left col-6">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="modal-body">
            <p> Course Duration : 30 hours </p>
            <p> Start date : 15/5/2020 </p>
            <p> Expected end date : 15/6/2020 </p>
            <p> Remaining days: 28 days </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Take Shortcut</button>
            <button type="button" class="btn btn-custom">Finish Course</button>
          </div>

    </div>
</ng-template>

<ng-template #completed let-modal>
  <div class="dark-modal">
      <div class="modal-header">
          <div class="head-right col-6">
              <h4 class="modal-title"> {{ courseTitle}} </h4>
          </div>
          <div class="head-left col-6">
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </div>
        <div class="modal-body">
          <p> You have successfully completed this coures. </p>
          <p> Exam date : 15/5/2020 </p>
          <p> Score : 25 </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" (click)="modal.close('Close click')">Close</button>
        </div>

  </div>
</ng-template>
<app-footer></app-footer>