.temp{
    /* height: 500px; */
    background-color: #161616;
}
.main{
    background-color: #161616;
    color: #ffffff;
    padding: 1em 2em;
}
div h3{
    margin-left: .5em;
    margin-top: 1em;
}
div h5{
    margin-left: 3em;
    line-height: 1.25;
    cursor: pointer;
}
.courses-border{
    border: 2px solid #222222;
}
.completed h4{
    text-decoration: line-through;
}
h3{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.dark-modal {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .btn-custom {
    color: white;
    background-color: #E43F5A;
  }
  hr{
      color: gray;
  }

  
.progress {
    position: relative;
    height: 25px;
    margin: 20px;
  }
  .progress > .progress-type {
  position: absolute;
  left: 0px;
    font-weight: 800;
  
  padding: 10px 50px 15px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.2);
  }
  .progress > .progress-completed {
  position: absolute;
  right: 0px;
    font-weight: 800;
    color: black;
  padding: 10px 10px 2px;
  }